.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.btn-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 10px;
  color: #757575;
}

.export-btn {
  height: 40px;
  border-radius: 8px;
  border: 0;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  padding: 0 20px;
  background-image: linear-gradient(
    to right,
    rgb(192 38 211) 0%,
    rgb(219 39 119) 100%
  );
}

.import-btn {
  position: relative;
  border: 2px dashed #d9d9d9;
  border-radius: 8px;
  font-weight: 500;
  color: #757575;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.import-btn:active {
  transform: scale(0.9);
}

.input-import {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.divider {
  height: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.divider-line {
  position: absolute;
  right: 0;
  left: 0;
  height: 1px;
  border-top: 1px dashed #d9d9d9;
}

.divider-label {
  background: #fff;
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  padding: 10px;
  z-index: 2;
}

.col-header {
  text-align: left;
  font-size: 20px;
  font-weight: 700;
}
.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1.5vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.characters {
  list-style: none;
  padding-left: 0;
}

.characters li {
  display: flex;
  align-items: center;
  border-radius: 8px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background: #fff;
  border-radius: 0.2em;
  padding: 0.5em 0.8em 0.5em 0.5em;
  margin-bottom: 1em;
}

.characters p {
  max-width: none;
  font-weight: bold;
  margin: 0;
}

.characters-thumb {
  overflow: hidden;
  flex-shrink: 0;
  width: 2em;
  height: 2em;
  background-color: #e8e8e8;
  padding: 0.5em;
  margin-right: 0.5em;
}

.characters-thumb img {
  display: block;
  width: 100%;
  height: auto;
}

.upload-container {
  display: block;
  font-size: 24px;
  color: #9b9b9b;
  text-align: center;
}

.input-import {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
}

.export-container {
  position: absolute;
  top: 20px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  gap: 14px;
  font-size: 16px;
  font-weight: 500;
  align-items: center;
}
